/* Default font-size */
:root {
  --primary: #ff6500;
  --secondary: #080d3f;
  --white: #ffffff;
  --bg: #dee2e6;

  --font-white: #ffffff;
  --font-black: #000000;
}

@media (max-width: 768px) {
  .hero_tagline {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .hero_tagline {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .hero_tagline {
    text-align: center;
  }
}
