:root {
  --primary: #ff6500;
  --secondary: #080d3f;
  --white: #ffffff;
  --black: #373a40;
  --grey: #686d76;
  --bg: #eeeeee;

  --font-white: #ffffff;
  --font-black: #444;
}
/* body {
  font-family: "Poppins", "sans-serif";
  background-color: var(--bg);
  color: var(--font-black);
} */
body {
  font-family: "Poppins", "sans-serif";
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/gedung.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  color: var(--font-black);
}

/* Awal animasi */

/* Animasi dasar */
@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Setel elemen untuk animasi hanya saat muncul di viewport */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Tambahkan animasi untuk memicu saat elemen masuk ke viewport */
.animate-on-scroll:in-viewport {
  opacity: 1;
  transform: translateY(0);
  animation: fadeSlideIn 0.6s ease forwards;
}

.navbar {
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
  z-index: 4;
}

.navbar.bg-transparent {
  background-color: rgb(0, 0, 0) !important; /* Hitam transparan */
  color: white !important;
  transition: all 0.5s ease 0s;
}

.navbar.scrolled {
  background-color: white !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2) !important;
}
.navbar.scrolled .nav-link,
.navbar.scrolled .navbar-brand,
.navbar.scrolled .navbar-toggler-icon {
  color: black !important; /* Teks hitam saat di-scroll */
  transition: all 0.3s ease 0s;
}
.navbar-brand {
  font-weight: 700;
  font-size: 20px;
  /* margin: 10px 0; */
}
.navbar-brand:hover {
}

.nav-link {
  margin: 0 10px;
  font-weight: 400;
}
.navbar .navbar-nav .nav-link:hover {
  color: var(--primary) !important;
}
/* .navbar .navbar-nav .nav-item::after {
  content: "";
  display: block;
  border-bottom: 2px solid var(--primary);
  margin-bottom: -5px;
  margin-left: 20px;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.2s linear;
}

.navbar .navbar-nav .nav-item:hover::after {
  transform: scaleX(0.8);
} */
/* Menghilangkan border dan outline pada item dropdown saat hover */
.navbar .dropdown-menu .dropdown-item:hover {
  border: none !important;
  outline: none !important;
}

/* Menghilangkan border pada toggle button saat hover */
.navbar .dropdown-toggle:hover {
  border: none !important;
  outline: none !important;
}

/* Menghilangkan border pada dropdown menu */
.navbar .dropdown-menu {
  border: none !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Shadow halus */
  margin-top: 0px !important; /* Awalnya tanpa margin top */
}

/* Menghilangkan border pada dropdown item yang mendapat fokus */
.navbar .dropdown-item:focus {
  border: none !important;
  outline: none !important;
}

/* Menghilangkan border pada dropdown toggle yang mendapat fokus */
.navbar .dropdown-toggle:focus {
  border: none !important;
  outline: none !important;
}
.button_primary {
  padding: 50px 20px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--secondary);
}

.library-foter button:hover {
  background-color: var(--primary);
}
.button_secondary a {
  text-decoration: none;
  color: var(--primary);
}

.button_secondary {
  padding: 7px 20px;
  background-color: var(--white);
  border: none;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--primary);
  /* border-radius: 3px; */
  transition: all 0.3s ease;
}

.navbar.scrolled .button_secondary {
  background-color: var(--primary);
  color: var(--font-white);
  transition: all 0.3s ease;
}
.navbar.scrolled .nav-link,
.navbar.scrolled .navbar-brand,
.navbar.scrolled .navbar-toggler-icon {
  color: black; /* Teks hitam saat di-scroll */
  transition: all 0.3s ease 0s;
}
.navbar.scrolled .button_secondary a {
  color: var(--font-white);
  transition: all 0.3s ease;
}

.button_secondary:hover {
  background-color: var(--primary);
  color: var(--font-white);
  transition: all 0.3s ease;
}
.button_secondary:hover a {
  color: var(--font-white);
  transition: all 0.3s ease;
}

.navbar.scrolled .button_secondary:hover {
  background-color: var(--secondary);
  color: var(--font-white);
  transition: all 0.3s ease;
}
/* hero */
#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Warna hitam dengan transparansi 50% */
  z-index: 1; /* Agar overlay berada di atas background */
}

#hero > * {
  position: relative;
  z-index: 2; /* Konten di atas overlay */
}

.hero_tagline {
  position: relative;
  z-index: 3;
  /* text-align: center; */
}

.hero_tagline h1 {
  color: var(--font-white);
  font-weight: 700;
  font-size: 32px;
  line-height: 50px;
}
.hero_tagline h3 {
  color: var(--font-white) !important;
  font-weight: 400;
}
#hero h1 span {
  color: var(--primary);
}
.hero_tagline p {
  font-size: 16px;
  color: var(--font-white);
  margin-bottom: 60px;
  /* margin-top: 20px; */
  line-height: 30px;
}
.button-lg-primary {
  padding: 10px 30px;

  background-color: #ffffff;
  color: var(--primary);
  border: none;
  border-radius: 3px;
  font-weight: 700;
  transition: all 0.2s ease-in;
}
.button-lg-primary:hover {
  padding: 10px 30px;
  background-color: var(--primary);
  color: var(--font-white);
  transition: all 0.2s ease-in;
}

/* about section */
#tentang_kami {
  background-color: var(--white);
  padding-bottom: 50px;
}
.header-about {
  padding-top: 65px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
.header-about h2 span {
  color: var(--primary);
}
.img_about .menu-card-img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}
/* layanan */
#layanan {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-layanan {
  background-color: var(--white);
  padding-top: 45px;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

#layanan h2 {
  text-align: center;
  font-weight: 400;

  padding: 10px 0;
}
#layanan .header-layanan p {
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;

  padding: 0 10px;
}

.service-navigation {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  margin-bottom: 15px;
}

.service-navigation .active {
  background-color: var(--secondary);
  color: var(--font-white);
  transition: all 0.2s ease-in;
}
.service-navigation button {
  color: var(--secondary);
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  background-color: transparent;
  font-weight: 700;
  border-radius: 3px;
  border: 1px solid var(--secondary);
  width: 150px;
}

.service-navigation button:hover {
  background-color: var(--secondary);
  transition: all 0.2s ease-in;
  color: var(--font-white);
}
.service-section {
  background-color: var(--white);
  border-radius: 5px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.img_layanan {
  display: flex;
  justify-content: center;
  margin: auto;
}
.detail_layanan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.layanan_item .menu-card-img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.library-title {
  color: var(--font-black);
  /* border: 1px solid var(--primary); */
  /* background-color: #080d3f; */
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 10px;
  /* display: flex; */
  /* justify-content: center; */
  /* background-color: var(--secondary); */
}
.library-title h5 {
  /* color: var(--font-black); */
  /* border-bottom: 1px solid var(--primary); */
  /* background-color: #080d3f; */
  margin: 5px 0 5px 0;
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
  /* background-color: var(--secondary); */
}
.layanan_item {
  display: flex;
  padding: 10px;
  /* border: 1px solid var(--primary); */
}
.layanan_info {
  height: 100%;
  /* padding-bottom: 5px; */
  /* text-align: center; */
  padding: 10px;
  /* margin: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid var(--primary); */
  border-radius: 3px;
}
.library-main p,
.library-main ul {
  line-height: 16px; /* Menambahkan jarak antar baris */
  margin-bottom: 12px; /* Menambahkan jarak antar paragraf */
  color: var(--font-black); /* Warna teks lebih lembut */
}

/* Untuk daftar */
.library-main p span {
  /* padding-left: 20px; */
  font-weight: 700;
}

/* Untuk elemen daftar */
.library-main ul li {
  margin-bottom: 8px; /* Jarak antar item */
}

/* Ikon dalam teks */
.library-main i {
  color: var(--secondary); /* Warna ikon */
  margin-right: 8px; /* Jarak antara ikon dan teks */
}

.closed-info {
  background-color: transparent;
  border-radius: 3px;
  padding: 5px;
  font-weight: 400;
  color: var(--primary);
  text-align: center;
  border: 1px solid var(--primary);
}

.closed-info p {
  margin: 5px;
}
.library-foter {
  /* margin-top: 5px; */
  padding: 10px;
  text-align: end;
  text-decoration: none;
  font-weight: 700;
}
.library-foter button {
  color: var(--font-white);
  background-color: var(--secondary);
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
  font-weight: 700;
  border-radius: 3px;
}
.library-foter button:hover {
  background-color: var(--primary);
}
.library-foter a {
  text-decoration: none;
  color: var(--font-white);
}
/* Keyframes untuk efek fade-in (masuk) */
@keyframes fadeIn {
  from {
    opacity: 0;
    /* transform: translateY(20px); */
  }
  to {
    opacity: 1;
    /* transform: translateY(0); */
  }
}

/* Keyframes untuk efek fade-out (keluar) */
@keyframes fadeOut {
  from {
    opacity: 1;
    /* transform: translateY(0); */
  }
  to {
    opacity: 0;
    /* transform: translateY(20px); */
  }
}

/* Animasi masuk */
.fade-in {
  animation: fadeIn 0.2s ease-in-out forwards;
}

/* Animasi keluar */
.fade-out {
  animation: fadeOut 0.22s ease-in-out forwards;
}

/* Service-section default */
/* .service-section {
} */

/* kegiatan berita */
#kegiatan {
  background-color: var(--white);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}
#kegiatan h2 {
  text-align: center;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 5px;

  padding: 10px 0;
}
.card_kegiatan {
  height: 100%; /* Pastikan semua kartu memiliki tinggi penuh */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_image img {
  height: 200px; /* Tinggi tetap untuk gambar */
  object-fit: cover; /* Agar gambar tidak terdistorsi */
  width: 100%; /* Pastikan gambar memenuhi lebar kartu */
}

.card-title {
  overflow: hidden; /* Potong teks jika terlalu panjang */
  text-overflow: ellipsis; /* Tambahkan titik-titik jika teks terpotong */
  white-space: nowrap; /* Tetap dalam satu baris */
}

.card-text {
  height: 100px; /* Tinggi tetap untuk deskripsi */
  overflow: hidden; /* Potong teks jika terlalu panjang */
  text-overflow: ellipsis; /* Tambahkan titik-titik jika teks terpotong */
}

.card_kegiatan:hover {
  border: 1px solid var(--primary);
  transition: all 0.3s ease-in;
}
.card_kegiatan:hover button {
  background-color: var(--primary);
  transition: all 0.2s ease-in;
}
.card_image {
  transition: all 0.3s ease-in;
  overflow: hidden; /* Memastikan gambar tidak melampaui batas kontainer */
  position: relative;
}
.card-img-top {
  height: 200px;
  width: 100%;
  transition: all 0.2s ease-in;
}
.card_kegiatan:hover .card-img-top {
  transform: scale(1.05); /* Zoom in pada gambar */
}
.fotter-section {
  margin-top: 10px;
  /* color: var(--primary); */
  /* text-decoration: none; */
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.fotter-section button {
  padding: 10px 50px;
  margin: 0 5px;
  cursor: pointer;
  transition: color 0.2s ease-in;
  background-color: transparent;
  color: var(--primary) !important;
  font-weight: 700;
  border-radius: 20px;
  border: 1px solid var(--primary);
  position: relative;
  overflow: hidden;
}

.fotter-section button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  transform: translateX(-100%);
  transition: transform 0.2s ease-in;
  z-index: 0;
}

.fotter-section button:hover::before {
  transform: translateX(0);
}

.fotter-section button:hover {
  color: var(--font-white);
}

.fotter-section button a {
  text-decoration: none;
  color: inherit; /* Warna mengikuti tombol */
  position: relative;
  z-index: 1;
  transition: color 0.15s ease-in;
}

.fotter-section button:hover a {
  color: var(--font-white);
}

/* Indikator Carousel */
.carousel-indicators {
  position: absolute;
  bottom: -50px; /* Posisi indikator di bawah carousel */
  display: flex;
  justify-content: center;
  gap: 10px; /* Jarak antar tombol indikator */
  align-items: center; /* Rata tengah dengan tombol prev dan next */
}

.carousel-indicators button {
  background-color: var(--secondary) !important; /* Warna default indikator */
  border: none;
  width: 12px;
  height: 12px;
  transition: background-color 0.3s ease; /* Animasi perubahan warna */
}

.carousel-indicators .active {
  background-color: var(--primary) !important; /* Warna indikator aktif */
}

/* Tombol Navigasi */
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  width: auto;
  background: none; /* Hapus background default */
  border: none;
}

.carousel-control-prev {
  left: -30px;
}

.carousel-control-next {
  right: -30px;
}

/* Ikon Tombol Navigasi */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5) !important; /* Warna tombol */
  /* border-radius: 50%; Bentuk tombol bulat */
  width: 30px;
  height: 30px;
  padding: 10px; /* Spasi dalam tombol */
}

/* Transisi Tombol Navigasi */
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: var(--primary) !important; /* Warna saat hover */
}
/* contact */
#contact {
  height: auto;
  width: 100%;
  background-image: url("../img/perpus2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
#contact h2 {
  color: var(--primary);
  margin-top: 20px;
  margin-bottom: 20px;
}
#contact .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
#contact .container {
  padding: 50px 0 50px 0;
}
#contact h3 {
  font-weight: 300;
  line-height: 30px;
  color: var(--font-white);
  text-align: center;
}
#contact h4 {
  font-weight: 400;
  line-height: 50px;
  color: var(--primary);
  text-align: center;
  margin-bottom: 20px;
}
#contact h6 {
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 20px;
  color: var(--font-white);
}
.kontak a {
  font-weight: normal;
  line-height: 20px;
  color: var(--font-white);
  text-decoration: none;
}
.kontak a:hover {
  color: var(--primary);
}
.social-icons a {
  color: var(--font-white);
  text-decoration: none;
}
.form-control {
  background-color: #dfdfdf;
}

.social-icons a:hover {
  color: var(--primary);
}
.card-contact {
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 40px 40px;
}
.button_contact {
  height: 50px;
  width: 100%;
  margin-top: 35px;
  margin-bottom: 10px;
  transition: all 0.2s ease-in;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid var(--primary);
  color: var(--primary);
  font-weight: 700;
}
.button_contact:hover {
  background-color: var(--primary);
  color: var(--font-white);
  border: none;
}
.gmap {
}
/* footer */
footer {
  background-color: var(--black);
  padding: 50px 0px;
}
.footer {
  display: flex;
  justify-content: space-between;
}

footer .logo a {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: #fff !important;
  font-size: 21px;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: none;
  letter-spacing: 1px;
}

footer .logo p {
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  margin-bottom: -10px;
  letter-spacing: 0.5px;
}

footer .logo span {
  font-weight: 600;
  color: var(--primary);
}

footer .location h4 {
  margin-top: 0px;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}

footer .location ul li {
  font-size: 13px;
  color: #fff;
  display: inline-block;
  line-height: 24px;
  letter-spacing: 0.5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer .location ul li:first-child {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(250, 250, 250, 0.1);
}

footer .contact-info h6 {
  margin-top: 0px;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

footer .contact-info .kontak a {
  font-size: 13px;
  color: #fff;
  display: inline-block;
  line-height: 24px;
  letter-spacing: 0.5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 300;
  margin-bottom: -15px;
}

footer .connect-us h6 {
  margin-top: 0px;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 35px;
}

footer .connect-us i {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  color: var(--primary);
  font-size: 15px;
  transition: all 0.3s;
}
footer .connect-us i:hover {
  background-color: var(--primary);
  color: var(--font-white);
}

/* 2 */
